<ul>    
    <li class="hamburger" id="sidebarCollapse">      
        <img src="./assets/images/menu.png" />
        <label>Menú</label>    
    </li> 
    <a routerLink="client">
        <li>             
            <img src="./assets/images/boss.png" />
            <label>Cliente</label>    
        </li>
    </a>
    <a routerLink="chef">
        <li>             
            <img src="./assets/images/chef.png" />
            <label>Cocinero</label>    
        </li>
    </a>
    <a routerLink="waiter">
        <li>             
            <img src="./assets/images/waiter.png" />
            <label>Camarero</label>    
        </li>
    </a>
    <a routerLink="tableRest">
        <li>             
            <img src="./assets/images/table.png" />
            <label>Mesa</label>    
        </li>
    </a>
    <a routerLink="invoice">
            <li>             
                <img src="./assets/images/invoice.png" />
                <label>Factura</label>    
            </li>
        </a>
        <a routerLink="reportRest">
                <li>             
                    <img src="./assets/images/report.png" />
                    <label>Factura</label>    
                </li>
            </a>
<!--<a routerLink="getLists">
    <li class="activarLi">             
        <img src="./assets/images/menu_pipeline.png" />
        <label>{{ 'MENU.List' | translate }}</label>    
    </li>
</a>
<a id="menuDisputes" routerLink="dispute">  
    <li>               
        <img src="./assets/images/menu_dispute_sl.png" />
        <label>{{ 'MENU.Dispute' | translate }}</label>             
    </li> 
</a>       
<a id="menuModification" routerLink="getObligationsHolder">      
    <li *ngIf="constantsService.profile !== 'REVIEWER'">             
        <img src="./assets/images/menu_modify.png" />
        <label>{{ 'MENU.Modification' | translate }}</label>        
    </li> 
</a>  
<a routerLink="operationMassive">           
    <li>        
        <img src="./assets/images/audit.png" />
        <label>{{ 'MENU.MassiveOperations' | translate }}</label>        
    </li> 
</a>   
<a id="menuProcess" routerLink="process">           
      <li>        
          <img src="./assets/images/process.png" />
          <label>{{ 'MENU.Process' | translate }}</label>        
      </li> 
  </a>
  <a routerLink="massiveFile">           
      <li>        
          <img src="./assets/images/upload.png" style="width: 14%;" />
          <label>{{ 'MENU.MassiveFile' | translate }}</label>        
      </li> 
  </a>  
  <a routerLink="reports">           
      <li>        
          <img src="./assets/images/reports.png" style="width: 14%;" />
          <label>{{ 'MENU.Reports' | translate }}</label>        
      </li> 
  </a>   -->   
</ul>

